.label {
  display: none;
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 35px;
}

.label:hover {
  cursor: pointer;
}

.label span {
    top: 15px;
}

.label span,
.label span::before,
.label span::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
}

.label span::before {
    top: -8px;
}

.label span::after {
    top: 8px;
}

@media screen and (max-width: 768px) {
  .label{
    display: block;
  }
}